fastapi==0.115.5
pydantic==2.9.2
pydantic-settings==2.7.0
uvicorn==0.32.0
scikit-learn==1.5.2
spacy==3.8.3
nltk==3.9.1
cloudpickle==3.1.0

# python -m spacy download en_core_web_sm
# python -m nltk.downloader stopwords
